body{
    background-color: rgb(70 147 165);
    border: 2px solid black;
}

.my_container{
    background-color: white;
    border-radius: 20px;
    margin-top: .5em;
}

.mygrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    grid-auto-rows: 16.3rem;
    justify-content: center;
}

.user{
    transition: all .5s ease;
    box-shadow: 2px 2px 7px black;
    border: 1px black solid;
}

.user:hover{
    border: 1px blue solid;
    transform:scale(1.1);
    box-shadow: 2px 2px 20px blue;
}

.logo{
    font-size: 1.3rem;
}

.nav_link{
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 4px 3px;
    text-decoration: none;
}

.nav_link:hover{
    border-bottom: 3px white solid;
    padding-bottom: 1px;
    color: white;
}

.nav_link:active{
    color: rgb(194, 194, 194);
}

.navbar_dark{
    background-color: rgb(104, 104, 104);
}

.footer{
    min-height: 10rem;
}
