.my_container {
    margin-top: .5em;
    border: 1px solid black;
}

.mygrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    grid-auto-rows: 16.3rem;
    justify-content: center;
}

.user {
    transition: all .5s ease;
    border: 1px black solid;
}

.user:hover {
    border: 1px #0d6efd solid;
    transform: scale(1.1);
    box-shadow: 2px 2px 20px #0d6efd;
}

.logo {
    font-size: 1.3rem;
}

.nav_link {
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 4px 3px;
    text-decoration: none;
}

.nav_link:hover {
    border-bottom: 3px white solid;
    padding-bottom: 1px;
    color: white;
}

.nav_link:active {
    color: rgb(194, 194, 194);
}

.navbar_dark {
    background-color: rgb(104, 104, 104);
}


.larg {
    width: 100%;
    padding: 0;
    border: none;
    border-radius: 0;
}

.larg:hover {
    border: none;
    box-shadow: 0px 0px black;
    background-color: #caffc5;
}

.larg:focus {
    border: none;
    box-shadow: 0px 0px black;
    background-color: #cef4ff;
}

.footer {
    min-height: 10rem;
}